/*Setting a gradient for the background and defyning the fonts (type and colour) */
body{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background-color: white;
  text-align:center;
  padding: 2 2 em;
}

.main-menu{
  list-style: none;
    color: #009ea7;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: center;
}

.menu-link, footer {
    font-weight: bold;
    color: #009ea7;
    display: block;
    padding: 20px;
    justify-content: center;
}

.menu-link:hover{
    background-color: #ef6653;
    color: #009EA7;
}

#Blue{
  background-color:  #f0bd23;
  height: 50px;

}

#myLogo{
  align-items: center;
  width: 50%;
  height: auto;
  position: relative;
}

.footer{
		position: relative;
	}

.h6{
		position: absolute;
		right: 0;/*distanza tra il margine destro di #posizionato e il padding di #contenitore*/
		bottom: 0;/*distanza tra il margine inferiore di #posizionato e il padding di #contenitore*/
	}

  #footer{
    padding-top: 400;
    height: 100px;
    background-color: #009ea7;
    color: #f0bd23;
  }

  A:link, A:visited .h6{
    text-decoration: none;
    color: #f0bd23;
  }

  A:active, A:hover {
    color: white;
    background:#F48691;
  }


/*images
img{
  width: 50%;
  height: auto;
  border-radius: 2em;
}

/*setting a red background and more options
#where{
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  background: #C1392B;
  padding:12px;
  color:white;
  font-size: 19px;
  font-weight: bold;
}

/*setting the design of the combo box
#who{
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    background: #C1392B;
    padding:5px;
    color:white;
    font-size: 19px;
    font-weight: bold;
}

/*setting wrap for cousine options
.cuisine {
  white-space: wrap;
  color:white;
}

/*setting the design of the search button
#searchButtom{
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  background: #C1392B;
  padding:5px;
  color:white;
  font-size: 19px;
  font-weight: bold;

}

/*setting the design of the search button: when active
#searchButtom:active {
  position: relative;
}

/*setting the design of the search button: when the mouse is hover (gradient)
#searchButtom:hover {
 background: #F7DAA2;
 color:white;
 top: 4px;
 /*gradient
 background-image: -webkit-gradient(linear, left top, left bottom,
  from(#C1392B), to(#F7DAA2),color-stop(0.4, #C1392B));
}

/*setting the design of the google maps place holder: borders radius
#placeHolderMaps{
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  background: #C1392B;
  padding:5px;
}

/*place holder map with shadow effect
#map{
  border: 1px solid #C1392B;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.13);
}

/*results Area with shadow effect
#resultsArea{
  border: 1px solid #C1392B;
  -moz-border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.13);
}



/*horizontal bar's design
hr
{
color: #C1392B;
background: #C1392B;
border: 2;
height: 4px;
margin: 1.2em 33 2.5em;
}




/*Responsive
* {
    box-sizing: border-box;
}

/*Responsive on medium screen
@media screen and (min-width: 320px) and (max-width: 720px){
  img{
    width: 80%;
    height: auto;
    border-radius: 2em;
  }  }

/*Responsive on Smartphones
 @media screen and (min-width: 120px) and (max-width: 320px){
   .cuisine{
     width:25%;
     margin-left: auto;
     margin-right: auto;
   }
   #who{
     height: 20%;
   }
   #searchButtom{
     height: 20%;
     width: 70%;
   }
   h6{
     width:25%;
     margin-left: auto;
     margin-right: auto;
   }
   #footer{
     height: 220px;
     float:center;
     background-color: LemonChiffon;
   }
   img{
     width: 100%;
     height: auto;
     border-radius: 2em;
   }  }
